#navbar {
  background-color: rgb(255, 133, 174);
  padding-top: 1.5rem;
}
#inicio {
  background-color: rgb(255, 133, 174);
  padding: 0px;
  margin-bottom: 0px;
}
.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

#navbar {
  font-family: sriracha;
}
#titulo {
  font-family: pacifico;
  font-size: 5rem;
  color: rgb(250, 38, 109);
}
#titulo-3 {
  font-family: pacifico;
  font-size: 4rem;
  color: rgb(250, 38, 109);
}
#logo {
  font-family: pacifico;
}

#subtitulo {
  font-family: sriracha;
  font-size: 2rem;
}
#boton-ordenar {
  background-color: rgb(250, 38, 109);
  border: 0px;
  width: 100%;
  text-align: left;
}

h2 {
  font-family: sriracha;
  font-size: 2rem;
  color: rgb(250, 38, 109);
}
#ordenar {
  background-color: rgb(255, 133, 174);
}

#icons-ordenar {
  font-size: 400%;
  color: white;
  border-radius: 50%;
  border-color: white;
  background-color: rgb(250, 38, 109);
  border-style:solid;
  padding: 10px 20px;
  border-width: 5px;
}
#instrucciones {
    font-size: 1.25rem;
}
